<h1>Contact</h1>
<p>
	Pour toute remarque ou retour éventuel sur le tutoriel Ruby on Rails, consultez <a href="http://ruby.railstutorial.org/contact">la page de contact Ruby on Rails Tutorial</a>.
</p>
