<h1>Aide</h1>
<b>
	Perdu sur le site ?
	<ul>
		<li> Commencez par vous <a href="/signup">inscrire</a>. </li> 
		<li> Identifiez-vous <a href="/signin">(ici)</a>. </li>
		<li> Consultez la <a href="/users">liste des utilisateurs</a>. </li> 
	</ul> 
</b>
